<p>Calculation</p>
<table class="calculation-table">
    <thead>
        <tr>
            <th><button (click)="enableNewRowMode()">Add</button></th>
            <th></th>
            <th>Planned sum</th>
            <th>Planned aim</th>
            <th>Paid</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr app-new-row *ngIf="isNewRowMode" class="new-record"></tr>
        <tr app-editable-row *ngFor="let item of calculation.items" [(item)]="item" [(disabled)]="isNewRowMode"
            [ngClass]="{'is-paid': item.isPaid}"></tr>
        <tr>
            <td>Total</td>
            <td><button>Ed</button></td>
            <td colspan="4">{{calculation.items | onlyIfPropFalse:'isPaid' | sumArray:'sum'}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6">
                <div class="flex-container">
                    <button class="cancel" (click)="clearData()">Cancel</button>
                    <button (click)="saveCalculation()">Save</button>
                </div>
            </td>
        </tr>
    </tfoot>
</table>